@import '../../App.scss';

.gallery-back {
    height: auto;
    background: $primaryGrey;
    padding: 5vh 1vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.single-photo {
    height: 35vh;
    width: 30%;
    border: solid black 1px;
    margin: 1.5% 1.5%;
    .single-photo-img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        &:hover {
            opacity: .5;
            // transform: scale(1.3);
        }
    }
}




@media (max-width: 580px) {
    .gallery-back {
        display: flex;
        flex-direction: column;
        align-items: center;
        // justify-content: center;
        padding: 3vh 0;
    }
    .single-photo {
        width: 90%;
    }
}