.contact-parent {
    height: 100vh;
    display: flex;
    flex-direction: column; 
}
.contact-wallpaper {
    background: white;
    width: 100%;
    height: 8vh;
}
.text-img-input {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 3.5%;
}
.hero-and-inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 3.5%;
}
.contact-img {
    width: 90%;
    height: auto;
}
.first-and-last {
    margin: 15px 0 0 10px;
}
.firstNameInput {
    height: 4vh;
    width: 36vw;
    margin: 0 4px 0 0;
}
.lastNameInput {
    height: 4vh;
    width: 36vw;
    margin: 0 0 0 4px;
}
.emailInput {
    height: 4vh;
    width: 76vw;
    margin: 10px 0 0 10px;
}
.subjectInput {
    height: 4vh;
    width: 76vw;
    margin: 10px 0 0 10px;
}
.messageInput {
    height: 16vh;
    width: 76vw;
    margin: 10px 0 0 10px;
}
.contact-submit {
    margin: 15px 0 0 150px;
}

@media (min-width: 768px) {
    .contact-wallpaper {
        height: 16vh;
    }
    .hero-and-inputs {
        display: flex;
        flex-direction: row;
        justify-content: center;
        // align-items: center;
    }
    .contact-img {
        width: 35%;
    }
    .all-inputs {
        display: flex;
        flex-direction: column;
        margin: 0 0 0 35px;
    }
    .firstNameInput {
        width: 15vw;
        margin: 5px 10px 35px 0;
        height: 6vh;
    }
    .lastNameInput {
        width: 15vw;
        margin: 0 0 35px 10px;
        height: 6vh;
    }
    .emailInput {
        width: 32vw;
        margin: 35px 0;
        height: 6vh;
    }
    .subjectInput {
        width: 32vw;
        margin: 35px 0;
        height: 6vh;
    }
    .messageInput {
        width: 32vw;
        margin: 25px 0;
        height: 24vh;
    }
    .contact-submit {
        margin: 0;
    }
}