.kelsey-parent {
    height: 100vh;
}

.kelsey-wallpaper {
    height: auto;
}

@keyframes wallpapers {
    0% {
      opacity: 1;
    }
    17% {
        opacity: 1;
    }
    33% {
        opacity: 0;
    }
    66% {
        opacity: 0;
    }
    }
.wallpaper-pics img {
    width: 100%;
    height: auto;
    position: absolute;
    animation-name: wallpapers;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
    animation-duration: 15s;
}
.wall1{
    width: 100%;
    height: auto;
    z-index: 1;
    top: 0;
    animation-delay: 10s;
    // margin-top: -220px;
}
.wall2 {
    width: 100%;
    height: auto;
    z-index: 1;
    top: 0;
    animation-delay: 5s;
    // margin-top: -220px;
}
.wall3 {
    width: 100%;
    height: auto;
    z-index: 1;
    top: 0;
    animation-delay: 0s;
    // margin-top: -220px;
}


.below-kelsey {
    display: flex;
    flex-direction: column;
    padding: 0 75px;
}

// @media (min-width: 320px){.kelsey-wallpaper {height: 45%;}}
// @media (min-width: 375px){.kelsey-wallpaper { height: 60%;}}
// @media (min-width: 425px){.kelsey-wallpaper {height: 75%;}}
// @media (min-width: 645px){.kelsey-wallpaper {height: 85%;}}
// @media (min-width: 732px){.kelsey-wallpaper {height: 90%;}}
// @media (min-width: 769px){.kelsey-wallpaper {height: 100%;}}

