$fontFamily: 'Indie Flower', cursive;
$fontFamily1: 'Raleway', sans-serif;
$primaryGrey: linear-gradient(45deg,rgb(238, 237, 237), lightgrey, rgb(172, 171, 171), rgb(238, 237, 237));

.bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    will-change: opacity;
    
  }
  .Kelseytest {
    height: 100vh;
  }
  .testing1 {
    width: 100vw;
    height: auto;
  }
  .testingUrl1 {
    background: url('https://canon-creative.s3-us-west-1.amazonaws.com/80461866-8c6e-467d-b5ad-624a84ac94be-kasja3.jpg');
    height: 100vh;
    background-size: cover;
  }
  .testingUrl2 {
    background: url('https://canon-creative.s3-us-west-1.amazonaws.com/1dd6d5c4-e92e-4063-938f-5849ee210a9d-BobbyHome-65.jpg');
    background-size: cover;
    height: 100vh;
  }