header {
    height: auto;
}

.white-space {
    background: url('../../assets/lake.JPG');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: repeat;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    padding-top: 8vh;
}
.mid-container {
    background: white;
    width: 85%;
    height: auto;
    display: flex;
    padding: 5vh 0;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.individual-post {
    display: flex;
    flex-direction: row;
    background: lightgray;
    margin: 20px 18px;
    width: 40%;
    height: 33%;
    padding: 2vh 1vw;
    .delete-button {
        margin-left: 120px;
        margin-top: -20px;
    }
    .mapImg {
        width: 18vw;
        height: auto;
        margin-right: 5vw;
    }
    .title-input-button {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
}

